.seasons-container{
    justify-content: center;
    display: flex;
    flex-direction: row;
    width:100vw;
    font-family: homepage;
}
.left-pointing-josuke{
  height:20vh;
  justify-content: center;
  transform: scaleX(-1);
}
.pointing-image{
  justify-content: center;
  align-content: center;
  padding-right: 1vw;
  padding-left: 1vw;
  width:400px;
  background-color: black;
  color:gold;
  font-size: 2em;

  
}
#cursor {
  position: fixed;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 0;
  left: 0;
  z-index: 5;
  cursor: url("../../assets/cursor/str_plat_2.png"), auto;
}

.cursor-img {
  justify-content: center;
  width: 200px;
  height: 200px;
pointer-events: none;
}
swiper-container{
    color: yellow;
    height: 100vh;
    margin: 0;
    width:60vw;
    background-color: blue;
    padding-top: 0vh;
}
swiper-slide{
    justify-content: center;
    display: flex;
    flex-direction: column;
  
  }
.season-image {
    display: block;
    margin: 0 auto; /* Centers the image horizontally */
    width: 25vw;
    height:70vh
  }
  h1 {
    text-align:center;
    color: yellow;
    font-size: 5em;
  }
  p {
    font-size: 4em; /* Sets the text size to 200 pixels */
    color: yellow; /* Sets the text color to yellow */
    text-align: center; /* Centers the text horizontally */
    font-family: 'Pacifico', cursive;
}