<div class="seasons-container">
    <div class="pointing-image">
        <h2>Click + Drag the center image to the left to see more!</h2>
        <img class="left-pointing-josuke"src="../../assets/misc/josuke_point.png" alt="">
        <h2>Try resizing the page if dragging does not work (Ctrl + scrollwheel)</h2>
      </div>
    <swiper-container>
        <swiper-slide>
            <img class="season-img" src="../../assets/season_imgs/Phantom_blood.png" alt="">
            <h1>Phantom Blood</h1>
            <p>Dio Brando the Invader (侵略者ディオ・ブランドー Shinryakusha Dio Burandō) is the first story arc in Phantom Blood.
                It narrates the misadventures of a young Jonathan whom Dio Brando, his new adoptive brother,
                 tries to ruin the life of in various ways.</p>
        </swiper-slide>
        <swiper-slide>
            <img class="season-img" src="../../assets/season_imgs/Battle_Tendency.png" alt="">
            <h1>Battle Tendency</h1>
            <p>Joseph Joestar of New York (ニューヨークのジョセフ・ジョースター Nyū Yōku no Josefu Jōsutā) is the first story arc in Battle Tendency.
                Set 50 years after the events of Phantom Blood, it introduces Joseph, 
                the grandson of Jonathan; moreover it exposes Speedwagon's discovery 
                of a man encased in a pillar surrounded by Stone Masks and Straizo's betrayal.</p>
        </swiper-slide>
        <swiper-slide>
            <img class="season-img" src="../../assets/season_imgs/Stardust_Crusaders.jfif" alt="">
            <h1>Stardust Crusaders</h1>
            <p>Jotaro Kujo (空条承太郎 Kūjō Jōtarō) is the first story arc in Stardust Crusaders.
                It introduces the grandson of Joseph, Jotaro, his meeting with the
                 fortuneteller Muhammad Avdol, and Jotaro's discovery of the Stand power.</p>
        </swiper-slide>
        <swiper-slide>
            <img class="season-img" src="../../assets/season_imgs/Diamond_is_Unbreakable.jfif" alt="">
            <h1>Diamond is Unbreakable</h1>
            <p>Jotaro Kujo! Meets Josuke Higashikata (空条承太郎！東方仗助に会う Kūjō Jōtarō!
                 Higashikata Jōsuke ni Au) is the first story arc in Diamond is Unbreakable.
                It narrates the meeting between Koichi Hirose, a perfectly ordinary student,
                 Jotaro Kujo, now a marine biologist and Josuke Higashikata, the bastard son of Joseph.</p>
        </swiper-slide>
        <swiper-slide>
            <img class="season-img" src="../../assets/season_imgs/Vento_Aureo.jfif" alt="">
            <h1>Vento Aureo</h1>
            <p>Gold Experience (黄金体験ゴールド・エクスペリエンス Gōrudo Ekusuperiensu) 
                is the first story arc in Vento Aureo.
                It narrates the meeting between Koichi and Giorno Giovanna, the estranged
                 son of DIO, in Naples, Italy.</p>
        </swiper-slide>
        <swiper-slide>
            <img class="season-img" src="../../assets/season_imgs/Stone_Ocean.jpg" alt="">
            <h1>Stone Ocean</h1>
            <p>Stone Ocean (石作りの海ストーンオーシャン Sutōn Ōshan) is
                 the first story arc in Stone Ocean.
                It introduces Jolyne Cujoh, falsely imprisoned for murder
                 at the Green Dolphin Street Prison, Florida.</p>
        </swiper-slide>
        <swiper-slide>
            <img class="season-img" src="../../assets/season_imgs/Steel_Ball_Run.jfif" alt="">
            <h1>Steel Ball Run</h1>
            <p>The Desert Born Outlaws (砂漠で生まれたならず者 Sabaku de Umareta Narazumono)
                 is the first story arc in Steel Ball Run.
                It narrates Johnny and Gyro's battle against the Boom Boom Family in the desert, 
                and Johnny's awakening of Tusk.</p>
        </swiper-slide>
        <swiper-slide>
            <img class="season-img" src="../../assets/season_imgs/JoJolion.jfif" alt="">
            <h1>JoJolion</h1>
            <p>Yasuho Hirose (広瀬 康穂 Hirose Yasuho) is the deuteragonist of JoJolion.
                Yasuho is an average student who discovers Josuke Higashikata on the coast of Morioh. As Josuke seeks his identity, she becomes his primary ally and love interest.
                Yasuho is eventually revealed to be a Stand User, manipulating her Paisley Park to investigate the city's mysteries.</p>
        </swiper-slide>
    </swiper-container>
    <div  class="pointing-image">
        <img src="../../assets/misc/josuke_point.png" alt="">
      </div>
    <div id="cursor" class="cursor" [style.top]="top" [style.left]="left" >
        <img class="cursor-img" src="../../assets/cursor/jojos_2.png" alt=""></div>
</div>

