<p>Watch your favorite scenes</p>
<div class="scene-page-container">
    <div class="scenes-container">
        <div class="pointing-image">
            <h2>Click + Drag the center image to the left to see more!</h2>
            <img class="left-pointing-josuke" src="../../assets/misc/josuke_point.png" alt="">
            <h2>Try resizing the page if dragging does not work (Ctrl + scrollwheel)</h2>
        </div>
        <swiper-container>
            @if(sceneInfoObtained){
            @for(scene of scenesArray; track scene; let i = $index){
            <swiper-slide effect="cards" grab-cursor="true">
                <h1>Scene {{i + 1}}</h1>
                <!-- Video player generated for scene -->
                <youtube-player [videoId]='getVideoId(scene.url)' 
                suggestedQuality="highres" [height]="600" [width]="1200"
                    [startSeconds]="4" [endSeconds]="8">
                </youtube-player>
                <button class="video-btn" (click)="deleteScene(scene.url)">Delete Scene</button>
            </swiper-slide>
            }
            } @else {
                <div class="no-scenes">
                    <h1 >Add a new scene by clicking the button below!</h1>
                </div>
            }
        </swiper-container>
        <div class="pointing-image">
            <img src="../../assets/misc/josuke_point.png" alt="">
        </div>
    </div>
    <div class="scene-creator-div">
        @if(this.startSceneCreation){
            <h1>Enter the URL for your desired youtube video below</h1>
            <input #sceneInput type="text">
            <button class="scene-add-btn" (click)="addScene()">Submit</button>
        }@else{
            <button class="scene-add-btn" (click)="openSceneCreationPrompt()">CLICK HERE to add a new scene </button>   
        }
    </div>
    <div id="cursor" class="cursor" [style.top]="top" [style.left]="left" >
        <img class="cursor-img" src="../../assets/cursor/jojos_2.png" alt=""></div>
</div>
