<div class="container">
    <img class="background" src="../../assets/character-images/jojos_vertical_banner.jfif">
    <div #infoContainer class="site-info-container">
        <h1>Welcome to The Official Jojo's Bizarre Adventure UberFan Website!</h1>

        <div class="header-container">
            <h2>Our Mission</h2>
        </div>
        <div class="info-container">
            <div class="left-info">
                <p>Welcome, esteemed and devoted fans of Jojo's Bizarre Adventure,
                    to the ultimate sanctuary of Jojo greatness! Our sacred mission is to cater
                    exclusively to the most fervent and passionate enthusiasts of this legendary
                    series. Here, within the hallowed digital halls of our UberFan Website,
                    we transcend mere fandom; we immerse ourselves in a realm of unbridled
                    adoration, where every page, every pixel, resonates with the pulsating
                    heartbeat of Jojo's legacy.</p>
                    <img class="info-img" src="../../assets/character-images/Jotaro_web.png" alt="Left Image">
            </div>
            <h2 class="info-header">Learn About Characters</h2>
            <div class="right-info">
                <img class="info-img" src="../../assets/character-images/Dio_web.png" alt="Right Image">
                <p>Our site features a Characters page, where you can delve into the details of the iconic characters that inhabit
                    the wondrous universe of Jojo's Bizarre Adventure. Prepare to embark on a journey
                    of discovery as you uncover the hidden depths,
                    powers, and idiosyncrasies that define these unforgettable personas.</p>
            </div>
            <h2 class="info-header">Catch Up On Seasons</h2>
            <div class="left-info">
                <p>The Seasons page beckons, inviting you to traverse the vast landscapes of Jojo's
                    narrative tapestry. Explore the myriad arcs and storylines that weave together to
                    create the epic saga we all know and love. From the heart-pounding battles to the
                    poignant moments of camaraderie, this is where the essence of Jojo's brilliance
                    unfolds.</p>
                    <img class="info-img" src="../../assets/character-images/Jolyne_web.png" alt="Left Image">
            </div>
            <h2 class="info-header">Watch Interesting Scenes</h2>
            <div class="right-info">
                <img class="info-img" src="../../assets/character-images/joseph_web.png" alt="Right Image">
                <p>But wait, there's more! Our Scenes page stands as a testament to the monumental
                    moments that have left an indelible mark on the annals of anime history. Relive
                    the electrifying clashes, revel in the dramatic revelations, and bask in
                    the sheer spectacle of Jojo's most iconic scenes, meticulously curated for
                    your viewing pleasure.</p>
            </div>
            
        </div>
    </div>
    <div id="cursor" class="cursor" [style.top]="top" [style.left]="left" >
        <img class="cursor-img" src="../../assets/cursor/jojos_2.png" alt=""></div>
</div>

